<header></header>
<div class="container">
  <!-- Admin -->
   <div class="card" (click)="handleButtonClick(1)">
    <h3><i class="bi bi-person-lock"></i></h3>
    <p>Enter to Admin dashboard</p>
  </div>

  <!-- Staff -->
  <div class="card" (click)="handleButtonClick(2)">
    <h3><i class="bi bi-person-gear"></i></h3>
    <p>Enter to Staff dashboard</p>
  </div>

  <!-- Customer -->
  <div class="card" (click)="handleButtonClick(3)">
    <h3><i class="bi bi-person"></i></h3>
    <p>Enter to Customer dashboard</p>
  </div>
</div>
